{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
    <div class="post">
        <div class="date">
            {% if post.published_date %}
                <p>Опубликовано: {{ post.published_date }}</p>
            {% else %}
                <p>Не опубликовано</p>
            {% endif %}
            <p>Автор: {{ post.author }}</p>
        </div>
        <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
        <p>Комментариев: {{ post.comments.count }}</p>
    </div>
    {% endfor %}
{% endblock %}
</html>